body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  color: rgb(195, 74, 74);
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
background-image: url("../img/waves.jpg"); 
}

.quote-text {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
  display: block;
}

.author-text {
  font-style: italic;
  font-size: 1rem;
  text-transform: uppercase;
}

.quote-mark {
  font-size: 3rem;
  position: absolute;
  color: white;
}

.quote-mark.top {
  top: -10px;
  left: -10px;
}

.quote-mark.bottom {
  bottom: -10px;
  right: -10px;
}


@media (max-width: 600px) {
  .quote-text {
    font-size: 1.25rem;
  }

  .quote-mark {
    font-size: 2rem;
  }

  .quote-container {
    padding: 1rem;
    margin: 1rem;
  }
}
